
.row {
  display: grid;
  grid-template-columns: 7fr 1fr 2fr;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: larger;
  font-weight: bold;
}

.description {
  color: darkslategray
}

.porcentaje {
  color: darkslategray;
  padding: 15px;
  text-align: end;
  font-weight: bold;
}